/* Css reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Reset ENDS */
/* All custom css */
h3 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
}

h5 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  margin-left: 12px;
  margin-top: 12px;
}

.mobile-container {
  height: 100vh;
  background-color: #E3E3DD;
}

.mobile-nav {
  background-color: #B6C5CD;
  height: 50px;
}

.burger-menu,
.logo,
.search {
  height: 50px;
  display: inline-block;
}

.burger-menu {
  width: 20%;
}

.fa-bars {
  font-size: 30px;
  margin-left: 10px;
}

.logo {
  width: 60%;
}

.search {
  width: 20%;
}

.fa-search {
  font-size: 30px;
  margin-right: 10px;
  float: right;
}

.daily-section {
  background-color: #415762;
  height: 200px;
}

.wi-day-sunny {
  color: yellow;
  font-size: 100px;
  margin-left: 50px;
  margin-top: 18px;
}

.current-city {
  padding-left: 10px;
  padding-top: 10px;
}

.weather-image,
.weather-info {
  height: 75%;
  float: left;
  width: 49.4%;
  border: none;
}

.map-section {
  background-color: #415762;
  height: 180px;
  margin: 15px;
  border: none;
}

.map {
  width: 100%;
  height: 75%;
  border: none;
}

.map-title,
.expand {
  height: 25%;
  background-color: #415762;
  display: inline-block;
  border: none;
  float: left;
}

.map-title {
  width: 90%;
}

.expand {
  width: 10%;
}

.fa-expand-arrows-alt {
  color: white;
  font-size: 33px;
  margin-top: 5px;
}

.favourite-section {
  background-color: #415762;
  height: 180px;
  border: none;
  margin: 15px;
  padding-top: 10px;
  padding-left: 10px;
}

.fa-star,
h4 {
  color: white;
  display: inline-block;
}

.footer-section {
  background-color: #314149;
  height: 120px;
}

/* Media queries */
/* Extra small devices (phones, 600px and down) */
/* Tis applies css to mobile phones */
@media only screen and (max-width: 600px) {
  .daily-section {
    background-color: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .daily-section {
    background-color: orange;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .daily-section {
    background-color: yellow;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .daily-section {
      background-color: green;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
      .daily-section {
        background-color: purple;
      }
